        .card-body{
            border:10px solid transparent;
            border-image: linear-gradient(to right, red,rgb(235, 235, 78), maroon) 1;
        }
        img{
            margin-bottom: 20px;
        }